[Unit]
Description=cEOS-Entrypoint: start CLI on init stdio
After=EosStage3.service
Wants=EosStage3.service

[Service]
Type=idle
PassEnvironment=HOSTNAME TERM HOME
ExecStart=/ceos_entrypoint.py run_cli
#RestartSec=0.5
Restart=always
StartLimitBurst=100
StartLimitInterval=300s

[Install]
WantedBy=default.target
